<% if @error %>
  <h1>Encountered error during processing:</h2>
  <h4><%= @error %></h4>
<% else %>
  <h2>Weather Forecast for <%= @forecast.geocoded_address.address %></h2>
  <div>
    <h3>Daily Forecast <%= '(cached - up to 30 mins out-of-date)' if @forecast.cached %></h3>
    <table>
      <%= render partial: "/forecast/current_forecast", locals: { current: @forecast.current, daily: @forecast.daily[0] } %>
      <% @forecast.daily[1..-1].each do |daily| %>
        <%= render partial: "/forecast/daily_forecast", locals: { daily: daily } %>
      <% end %>
    </table>
  </div>
<% end%>
